.input-row {
  position: relative;
  height: 2.5rem;

  &__input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    padding: 0.625rem 3.5rem 0.625rem 1rem;
    background-color: var(--color-dark-gray);
    border-radius: 0.25rem;
    text-overflow: ellipsis;
  }

  &__icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 1.5rem;
  }
}
