@import 'src/variables.scss';

.modal {
  position: fixed;
  max-width: 40rem;
  width: 100%;
  top: 4rem;
  bottom: 0;
  background-color: var(--color-dark);
  border-radius: 0.25rem;
  overflow: auto;
  z-index: 500;

  @media screen and (min-width: $screen-md) {
    top: 50%;
    left: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 7px 0 rgba(var(--color-black-rgb), 0.72);
  }
}

.modal-substrate {
  display: none;

  @media screen and (min-width: $screen-md) {
    display: block;
    position: fixed;
    top: 5.25rem;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(var(--color-black-rgb), 0.8);
    z-index: 499;
  }
}
